{% extends "base.html" %}

{% block title %}
Your shopping cart
{% endblock %}

{% block content %}
<div class="mt-5">

    <h1>Your shopping cart</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Jersey</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a>
                    <img src={{ product.image.url }} style="width: 5rem;">
                </a>
            </td>
            <td>{{ product.product_name }}</td>
            <td>{{ item.size }}</td>
            <td>
                <form action="{% url 'cart:cart_update' item.product_variant_id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <button type="submit" class="btn btn-secondary">Update</button>
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url 'cart:cart_remove_product' item.product_variant_id %}" method="post">
                    <button type="submit" class="btn btn-danger">Remove</button>
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">{{ item.product.price }} €</td>
            <td class="num">{{ item.total_price }} €</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="5"></td>
            <td class="num"><strong>{{ cart.get_total_price }} €</strong></td>
        </tr>
        </tbody>
    </table>
    <div class="row justify-content-between">
        <a class="col-6" href="{% url 'shop:home' %}">
            <button class="btn btn-secondary">Continue shopping</button>
        </a>
        {% if cart %}
        <a class="col-6 text-end" href="{% url 'orders:order_create' %}">
            <button class="btn btn-success">Go to order</button>
        </a>
        {% endif %}
    </div>

</div>
{% endblock %}