{% extends 'base.html' %}


{% block content %}
<div class="mt-5">
  <p>
    <a href="{% url 'shop:home' %}">
      <button class="btn btn-secondary">Back to shop</button>
    </a>
  </p>
  <p>
    {% if request.session.next_url and request.session.cart %}
      <a href="{% url 'cart:cart_detail' %}">
        <button class="btn btn-secondary">Back To Cart</button>
      </a>
    {% endif %}
  </p>
  <h1 class="mt-4">Log in</h1>
  <span>
    Not a member yet?
    <a href="{% url 'registration' %}">CREATE ACCOUNT</a>
  </span>
  <form class ='mt-3' action="{% url 'login' %}" method="post">
      {{form.as_p}}
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Log in</button>
  </form>
</div>
{% endblock content %}