{% extends "base.html" %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Your shopping cart</h1>
  
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Jersey</th>
        <th>Quantity</th>
        <th>Update</th>
        <th>Remove</th>
        <th>Unit price</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
      {% with product=item.product %}
      <tr>
            <td>
              <a>
                <img src={{ product.image.url }} style="width: 5rem;">
              </a>
            </td>
            <td>{{ product.product_name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ item.product.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
          {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}