{% extends 'base.html' %}

{% block content %}
<div>   
<img src="{{ product.image.url }}" alt="{{ product }} Image" style="width: 40rem;" >
    <h1>{{ product }}</h1>
    <p>Description: {{ product.description }}</p>
    <p>Player: {{ player }}</p>
    <p>
        <a href="{% url 'team_products' team.pk %}">
        Team: {{ team }} </a>
    </p>
    <p>Price: {{ product.price }} €</p>
    {% if is_out_of_stock %}
    <p>Sorry, this product is out of stock.</p>
    {% endif %}
    <form action="{% url 'cart:cart_add' product.id %}" method="post"> 
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
</div> 
{% endblock content %}