{% extends 'base.html' %}

{% block content %}

<body>
<ul>
     {% for object in object_list %}
{#         <li>Drużyna</li>#}
{#         <p>{{ object.pk }}</p>#}
         {% if object.team_image %}
             <a href="shop_team/{{ object.pk }}/products">
                <img alt="team picture" src="{{ object.team_image.url }}">
             </a>
         {% endif %}
         {% for p in product %}
            <h3>{{ p.product_id.product_name }}</h3>
         {% endfor %}

     {% endfor %}

{#     {% for p in product %}#}
{#         <h3>{{ p.product_id.product_name }}</h3>#}
{#         {% if p.product_id %}#}
{#            <img alt="product image" src="{{ p.product_id.image.url }}">#}

</ul>
</body>

{% endblock content %}