<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jersey Shop</title>
</head>
    <h1>Witamy w Jasey Shop</h1>
<body>
<ul>
     {% for object in object_list %}
         <li>Drużyna</li>
         <p>{{ object.pk }}</p>
         {% if object.team_image %}
             <a href="shop_team/<int:pk>">
                <img alt="team picture" src="{{ object.team_image.url }}">
             </a>
         {% endif %}
     {% endfor %}

{#     {% for p in product %}#}
{#         <h3>{{ p.product_id.product_name }}</h3>#}
{#         {% if p.product_id %}#}
{#            <img alt="product image" src="{{ p.product_id.image.url }}">#}

</ul>
</body>
</html>