{% extends 'base.html' %}

{% block content %}

<div>
    <div class="mt-5">

        <h2>Teams</h2>
        <ul class="mt-3">
            {% for team in teams %}
            {% if team.team_image %}
            <a href="{% url 'shop:team_products' team.pk %}" class="me-2">
                <img src="{{ team.team_image.url }}" alt="{{ team.team }} Image" class="hover img-fluid" width="70">
            </a>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="mt-5">
        <h2>Jerseys</h2>
        <div class="container mt-3">
            <div class="row">
                {% for product in products %}

                <div class="card hover" style="width: 20rem;">
                    <a href="{% url 'shop:product_detail' product.pk %}">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product }} Image">

                        <div class="card-body">
                            <h6 class="card-title">{{ product }}</h6>
                            <p class="card-text">{{ product.price }} €</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock content %}