{% extends 'base.html' %}

{% block content %}
<div class="mt-5">
  <a href="{% url 'shop:home' %}">
    <button class="btn btn-secondary">Back to shop</button>
  </a>
  <h2 class="mt-4">
    <img src="{{ team.team_image.url }}" alt="{{ team.team }} Image" style="max-width: 40px;">
    {{ team.team}} Jerseys
  </h2>
  
  {% if products %}
  <div class="container mt-3">
      <div class="row">
          {% for product in products %}
          <div class="card hover" style="width: 20rem;">
              <a href="{% url 'shop:product_detail' product.pk %}">
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product }} Image">
          
              <div class="card-body">
                  <h6 class="card-title">{{ product }}</h6>
                  <p class="card-text">{{ product.price }} €</p>
              </div>
              </a>
          </div>
          {% endfor %}
      </div>
  </div>
  {% else %}
    <div>
        <p>There are no products for this team.</p>
    </div>
  {% endif %}
</div>
{% endblock content %}