{% extends 'base.html' %}

{% block content %}
<div class="mt-5">

    <h1>Checkout</h1>
    <div class="container pt-2">
        <div class="row">
            <div class="col-7">
                <table class="table">
                    <thead>
                        <tr>
                          <th></th>
                          <th>Jersey</th>
                          <th>Size</th>
                          <th>Price</th>
                        </tr>
                    </thead>
                    {% for item in cart %}
                    {% with product=item.product %}
                    <tr>
                        <td><img src={{ product.image.url }} style="width: 5rem;"></td>
                        <td>{{ item.quantity }} x {{ item.product }}</td>
                        <td>{{item.size}}</td>
                        <td>{{ item.total_price }} €</td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </table>
                <p class="text-end"><strong>Total cost: {{ cart.get_total_price }} €</strong></p>
            </div>

            <div class="col-4 offset-1">
                <h3>Shipping information</h3>
                <p>Name: {{ user }}</p>
                <p>Address: {{ address }}</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <a class="col-6" href="{% url 'cart:cart_detail' %}">
                <button class="btn btn-secondary">Back To Cart</button>
            </a>
            <div class="col-6 text-end">
                <form method="post">
                    <button type="submit" class="btn btn-success">Place order</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}