{% extends "base.html" %}


{% block content %}

<h2>{{user.first_name}} {{user.last_name}} Your orders:</h2>
    {% for order in orders %}
        <p>Order date: {{ order.order_date }}</p>
        <p>Product: {{ order_product.product_variant_id.product_id.product_name }} x {{ order_product.quantity }} </p>
        <p>Total cost: {{ order.total_cost }}</p>
        <p>Status: {{ order.status }}</p>
        <p>####################################################</p>
    {% endfor %}
<a href="{% url 'home' %}">
    <button>Back to shop</button>
</a>
{% endblock content %}